# ===== PYTHON / DJANGO =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
local_settings.py
db.sqlite3
media/

# ===== ENVIRONNEMENT VIRTUEL =====
venv/
env/
.venv/
ENV/

# ===== VARIABLES SENSIBLES =====
.env
.env.local
.env.production
*.env

# ===== SQL SERVER / SSMS =====
*.mdf
*.ldf
*.bak

# ===== REACT / NODE =====
node_modules/
dist/
build/
.next/
coverage/
*.local

# ===== UPLOADS UTILISATEURS =====
uploads/

# ===== SYSTÈME =====
.DS_Store
Thumbs.db
desktop.ini

# ===== IDE =====
.vscode/
.idea/
*.iml
*.suo
*.user
