# ========================================
# Plateforme Anti-Arnaque — Variables d'environnement
# ========================================
# Copie ce fichier en .env et remplis les valeurs.

# --- Django ---
DJANGO_SECRET_KEY=change-me-to-a-random-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1



DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_g5KdQ0jNUSWX
DB_HOST=ep-mute-tooth-aylxxl5z-pooler.c-5.us-east-2.aws.neon.tech
DB_PORT=5432


AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your-account;AccountKey=your-key;EndpointSuffix=core.windows.net
AZURE_ACCOUNT_NAME=plateformeaa
AZURE_CONTAINER_NAME=preuves




